:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.about-me__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; }

.about-me__content {
  font-size: 4.8rem;
  font-weight: bold;
  color: black;
  border: solid; }

.btn-primary {
  display: inline-block;
  color: #fff;
  letter-spacing: 0;
  font-family: rubik,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box,border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
  transition: all .3s ease-in-out;
  text-decoration: none; }
  .btn-primary span {
    padding: 0 42px; }
  .btn-primary:hover {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222;
    box-shadow: none;
    background-clip: border-box;
    text-decoration: none; }
  .btn-primary__outline {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid transparent;
    color: #222;
    box-shadow: none; }
    .btn-primary__outline:hover {
      background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
      border: double 2px transparent;
      color: #fff;
      box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3); }
